/**
 * Animate elements on scroll
 */

$transition: $ease-out-quint;
$time: .75s;

@include mq(min, $bkp-tablet) {

  [data-animate] {
    transition: transform $time $transition, opacity $time $transition;
    opacity: 0;
    transform: translateY(25px);

    &.is-animate {
      transform: translateY(0);
      opacity: 1;
    }
  }

}