/**
 * Section
 */

section, footer,  main, header {
  padding: 25px 0;
  @include wrap(1660px,10px);

  @include mq(min, $bkp-tablet) {
    padding: 50px 0;
    @include wrap(1660px,20px);
  }

  &.has-contrast {
    background-color: $color-black;

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
      color: $color-white;
    }

    a {
      @include on-event {
        color: $color-white;
      }
    }
  }

  
}
