/**
 * Colors
 */

 $color-white: rgb(255, 254, 252);
 $color-black: rgb(22, 22, 22);
 $color-red: #D34209;
 $color-green: #05F205;
 
 $color-border-light: rgba($color-white, 0.8);
 $color-border-dark: rgb($color-black, 0.8);
 
 $color-danger: $color-red;
 