/**
 * Global
 */

// Fonts
$font-primary: 'Montreal', sans-serif;
$font-secondary: 'TuskerGrotesk-5500', sans-serif;
$font-ternary: 'TuskerGrotesk-6600', sans-serif;
$font-accent: 'TuskerStretch', sans-serif;

// Base
$base-font-size: 16px;
$base-line-height: 1.5;


// Default
$default-margin: 0 0 20px;
$default-wrap: 1600px;
$default-gutter: 20px;

// Heading
$heading-font-family: $font-primary;
$heading-font-weight: 400;
$heading-line-height: 1.2;
$heading-margin: 0 0 30px;
