/**
 * Font Face
 */


 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 
 @font-face {
    font-family: 'Montreal';
    src: url('.s/public/ppneuemontreal-book-webfont.woff2') format('woff2');
    src: url('./public/ppneuemontreal-book-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
     font-family: 'TuskerGrotesk-6600';
     src: url('./public/tuskergrotesk-6600semibold-webfont.woff2') format('woff2');
     src: url('./public/tuskergrotesk-6600semibold-webfont.woff') format('woff');
     font-display: swap;
 }

 @font-face {
     font-family: 'TuskerGrotesk-5500';
     src: url('./public/tuskergrotesk-5500medium-webfont.woff2') format('woff2');
     src: url('./public/tuskergrotesk-5500medium-webfont.woff') format('woff');
     font-display: swap;
 }
 @font-face {
    font-family: 'TuskerStretch';
    src: url('./public/tuskerstretch-vfvf.3fe88ade-webfont.woff2') format('woff2');
    src: url('./public/tuskerstretch-vfvf.3fe88ade-webfont.woff') format('woff');
    font-display: swap;
}
